@page "/wallet/create_wallet"
@using System.Text.Json;
@inject HttpClient HttpClient
@inject ISnackbar Snackbar

<PageTitle>Create wallet</PageTitle>

<MudGrid Class="d-flex align-center justify-center mud-width-full py-4">
    <MudPaper Class="pa-4">
        <MudText Align="Align.Center" Class="mb-n4">Create wallet</MudText>
        <br/>
        <MudForm @bind-IsValid="@success">
            <MudTextField @bind-Value="WalletType" Label="Type" Required="true" RequiredError="Type is required!" />
            <MudTextField @bind-Value="AmountValue" Label="Amount" Required="true" RequiredError="Amount is required!" />
            <MudSelect T="string" @bind-Value="CurrencyCode" RequiredError="Currency is required!" Label="Currency" AnchorOrigin="Origin.BottomCenter">
                @if (currencies != null)
                {
                    foreach (var item in currencies)
                    {
                        <MudSelectItem T="string" Value="@item.CurrencyCode">@item.Name</MudSelectItem>
                    }
                }
            </MudSelect>
            <br/>
            <div class="d-flex align-center justify-space-between">
                <MudButton Disabled="@(!success)" Variant="Variant.Text" Class="ml-auto" Color="Color.Primary" OnClick="() => CreateNewWallet()">Create</MudButton>
            </div>
        </MudForm>
    </MudPaper>
</MudGrid>


@code {
    List<CurrencyDTO> currencies;
    bool success;
    public string WalletType { get; set; }
    public decimal AmountValue { get; set; }
    public string CurrencyCode { get; set; }

    async Task CreateNewWallet()
    {
        var newWallet = new CreateWalletDTO
            {
                Type = WalletType,
                Amount = AmountValue,
                CurrencyCode = CurrencyCode,
            };

        var content = new StringContent(JsonSerializer.Serialize(newWallet), System.Text.Encoding.UTF8, "application/json");
        var response = await HttpClient.PostAsync("https://localhost:7100/api/wallet", content);

        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("The wallet was created", Severity.Success);
        }
        else
        {
            Snackbar.Add("Error! The wallet was not created", Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        currencies = await HttpClient.GetFromJsonAsync<List<CurrencyDTO>>($"https://localhost:7100/api/currencies");
    }
}
